html {
  font-size: 62.5%;
  .contents{
    height: 100vh;
    width:100vw;
    color: #333333;
    font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
    position: relative;
    .main-content{
      width: 100%;
      height: calc(100vh - 35px);
    }
  }
}

a {
  text-decoration: none;
}
