<footer>
  <ul>
    <li id="timeTable-icon" class="active" ><i class="fa fa-home" aria-hidden="true"></i></li>
    <li id="notification-icon"><i class="fa fa-bell" aria-hidden="true"></i></li>
    <li id="profile-icon"><i class="fa fa-user" aria-hidden="true"></i></li>
    <li id="setting-icon"><i class="fa fa-cog" aria-hidden="true"></i></li>
  </ul>
</footer>
